<template name="signin">
	  <ul class="pager">
	      <li class="previous">
	        <a href="/">
	          <span aria-hidden="true">&larr;</span> Back
	        </a>
	      </li>
	  </ul>
	  <h2>Login or create an account</h2>
	  <br>
	  <form class="form-horizontal signin">
	    <div class="form-group">
	      <label for="username" class="col-sm-3 control-label">Username</label>
	      <div class="col-sm-9">
	        <input type="text" class="form-control" id="username"
						placeholder="johndoe123">
	      </div>
	    </div>
	    <div class="form-group">
	      <label for="password" class="col-sm-3 control-label">Password</label>
	      <div class="col-sm-9">
	        <input type="password" class="form-control" id="password"
						placeholder="&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;">
	      </div>
	    </div>
	    <div class="form-group form-footer">
	      <div class="col-sm-offset-3 col-sm-9">
	        <button type="submit" class="btn btn-primary pull-right">
						Sign in or Register
					</button>
	      </div>
	    </div>
	  </form>
</template>
