.btn {
  border-radius: 3px;
}

.list-group-item {
  border-radius: 0 !important;
}

.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
  background-color: transparent;
}
