<template name="countdown_add">
    <h3>Create a new countdown</h3>

    <div class="row">
      <form class="col s12 new-countdown">
        <div class="row">
          <div class="input-field col s6">
            <input id="date" type="text" class="validate" name="date">
            <label for="date">When?</label>
          </div>
          <div class="input-field col s6">
            <input id="happening" type="text" class="validate" name="happening">
            <label for="happening">What will happen?</label>
          </div>
          <input type="submit" class="right waves-effect waves-light btn" value="add">
        </div>
      </form>
    </div>
</template>
