<template name="countdown_create">
  <ul class="pager">
      <li class="previous">
        <a href="/">
          <span aria-hidden="true">&larr;</span> Back
        </a>
      </li>
  </ul>
  <h2>Create a new countdown</h2>
  <br>
  <form class="form-horizontal new-countdown">
    <div class="form-group">
      <label for="when" class="col-sm-3 control-label">When</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" id="when" placeholder="1 January, 2015">
      </div>
    </div>
    <div class="form-group">
      <label for="what" class="col-sm-3 control-label">What</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" id="what" placeholder="it's weekend!">
      </div>
    </div>
    <div class="form-group form-footer">
      <div class="col-sm-offset-3 col-sm-9">
        <label for="private">
          <input id="private" name="private" type="checkbox"> Make private
        </label>
        <button type="submit" class="btn btn-primary pull-right">Add countdown</button>
      </div>
    </div>
  </form>
</template>
